@import "tailwindcss";

:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

#root, html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 0;
}

body {
    padding-bottom: var(--tg-viewport-safe-area-inset-bottom, 0);
    padding-top: calc(var(--tg-viewport-safe-area-inset-top, 0) + var(--tg-viewport-content-safe-area-inset-top, 0));
    height: 100% !important;
}

:root {
    --main-bg-color: white;
    --main-color: black;
    --main-color-rgb: 0, 0, 0;

    --secondary-bg-color: rgba(0, 0, 0, 0.08);
    --text-secondary: rgba(0, 0, 0, 0.5);
    --secondary-color: white;

    color: var(--main-color);
    background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: black;
    --main-color: white;
    --main-color-rgb: 255, 255, 255;

    --text-secondary: rgba(255, 255, 255, 0.5);
    --secondary-bg-color: rgba(255, 255, 255, 0.08);
    --secondary-color: black;
  }
}
